body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cae6b8;
}

header {
    background-color: #78da37;
    color: #d43030;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.video-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* Animacje */
nav ul li a:hover {
    color: #f0e68c;
    transition: color 0.3s ease;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}
